@import "tailwindcss";

/* Tailwind v4 theme tokens */
@theme {
  --color-primary: #d4b10f;
  --color-darkBrown: #5a3b00;
  --color-greenKerala: #2fa84f;

  --color-background: #ffffff;
  --color-foreground: #171717;
}


/* Global body styles */
/* body {
  background-color: var(--color-primary);
  color: white;
} */

 body {
  background-color: var(--color-background);
  color: var(--color-foreground);
} 


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.scrollbar-webkit::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-webkit::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-webkit::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* gray-300 matches border */
  border-radius: 20px;
}
/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-inter {
  font-family: var(--font-inter);
}
